    @import "./bootstrap.min.css";
    @import "fonts.css";
    @import "variables";
    body {
        font-family: 'Roboto';
        background-color: $whitesmoke;
    }
    
    p {
        padding: 0;
        margin: 0;
    }
    
    a {
        cursor: pointer;
        text-decoration: none;
    }
    
    .subtitle {
        font-family: 'Merriweather';
        font-weight: 300;
        font-size: 20px;
        color: $grey;
    }
    
    .navbar {
        padding: 25px 0;
        background-color: $white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04)!important;
        .navbar-brand-img-partner {
            height: 30px;
        }
        .navbar-brand-img {
            height: 30px;
        }
    }
    
    .img-top {
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .avatar-style {
        width: 96px;
        height: 96px;
    }
    
    .btn-primary {
        font-weight: 400;
        font-size: 20px;
        padding: 17px 50px;
        color: $white;
        background: linear-gradient(90deg, $mediumpurple 0%, $deepskyblue 100%);
        border-radius: 30px;
        border: none;
        &:hover {
            background: linear-gradient(90deg, rgba(191, 62, 254, .7), rgba(27, 158, 255, .7))
        }
    }
    
    .btn-primary.disabled,
    .btn-primary:disabled {
        color: $silver;
        background-color: $whitesmoke;
        border: 1px solid $silver;
        background: transparent;
    }
    
    .btn-check:focus+.btn-primary,
    .btn-primary:focus {
        box-shadow: none!important;
    }
    
    .btn-link {
        font-weight: 400;
        font-size: 20px;
        color: $deepskyblue;
        text-decoration: none;
        padding: 0;
    }
    
    input {
        outline: none;
    }
    
    .hero {
        background-color: #F6F7FD;
        .hero-bg {
            position: absolute;
            object-fit: contain;
            object-position: bottom;
            max-width: 50vw;
            height: 100%;
            right: 0;
            bottom: 0;
        }
    }
    
    .link-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
    
    .card {
        background-color: $white;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05)!important;
        .card-body {
            padding: 42px 58px;
            .price {
                font-weight: 700;
                font-size: 60px!important;
            }
            .list-group-item {
                font-size: 20px;
                border-color: $light-grey;
                padding: 18px 0;
                &:disabled,
                &.disabled {
                    color: #CECECE;
                }
            }
        }
    }
    
    .border-right-decor {
        border-right: 1px solid $light-grey;
    }
    
    .circle-style {
        width: 112px;
        height: 112px;
        min-width: 112px;
        min-height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 34px;
            background-image: url('../images/check.svg');
            background-repeat: no-repeat;
        }
        &.right-position {
            &::before {
                right: 0;
                left: auto;
            }
        }
    }
    
    .check-card {
        position: relative;
        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            top: -50px;
            left: -50px;
            width: 94px;
            height: 94px;
            background-image: url('../images/check-large.svg');
            background-repeat: no-repeat;
        }
    }
    
    .steps {
        .step-text {
            font-weight: 700;
            font-size: 30px;
            background: -webkit-linear-gradient($deepskyblue, $mediumpurple);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .step-container {
            padding-top: 168px;
        }
        .middle-line-decor {
            position: relative;
            &::before {
                content: "";
                display: block;
                height: calc(100% - 94px);
                width: 0px;
                border: none;
                border-right: 2px dashed #DBDBDB;
                position: absolute;
                top: 42px;
                left: calc(50% - 1.5px);
            }
            @media (max-width: 1200px) {
                &::before {
                    right: -50px;
                }
            }
        }
        .decor-lines {
            position: relative;
            &::before {
                content: "";
                display: block;
                height: 220px;
                width: 0px;
                border: none;
                border-right: 2px dashed #DBDBDB;
                position: absolute;
                top: 60px;
                transform: rotate( 40deg);
                right: 55px;
            }
            &::after {
                content: "";
                display: block;
                height: 220px;
                width: 0px;
                border: none;
                border-right: 2px dashed #DBDBDB;
                position: absolute;
                top: 60px;
                transform: rotate( -40deg);
                left: 55px;
            }
        }
    }
    
    .popovers-container-static {
        .popover {
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05)!important;
            border-radius: 6px;
            border: none;
            z-index: 0;
            .popover-arrow {
                &::before {
                    border-left-color: transparent;
                    border-top-color: transparent;
                    border-right-color: transparent;
                }
            }
            &.with-mw {
                .popover-body {
                    max-width: 180px;
                }
            }
        }
        position: relative;
        .popover-arrow {
            position: absolute;
            transform: translate3d(0px, 19px, 0px);
            top: 0px;
        }
        [data-popper-placement=left] {
            position: absolute;
            right: 0;
            left: initial;
        }
        [data-popper-placement=right] {
            position: absolute;
            left: -50px;
        }
        .centered-popup {
            position: absolute;
            left: 50%;
            [data-popper-placement=top] {
                position: relative;
                top: -110px;
                left: initial;
                width: 100%;
                margin-left: -50%;
                .popover-arrow {
                    position: absolute;
                    left: calc( 50% - 8px);
                    transform: none;
                    top: initial;
                }
            }
        }
    }
    
    @media (max-width: 992px) {
        h1 {
            font-size: 50px!important;
        }
        h2 {
            font-size: 25px!important;
        }
        h3 {
            font-size: 23px!important;
        }
        p {
            font-size: 16px!important;
        }
        .font-size-21px {
            font-size: 18px!important;
        }
        .pt-116px {
            padding-top: 60px;
        }
        .pb-60px {
            padding-bottom: 40px;
        }
        .pb-120px {
            padding-bottom: 50px;
        }
        .pb-235px {
            padding-bottom: 156px;
        }
        .mb-79px {
            margin-bottom: 30px;
        }
        .hero {
            .quote-logo {
                width: 104px!important;
            }
        }
        .avatar-style {
            width: 64px;
            height: 64px;
        }
        .card {
            .card-body {
                padding: 30px 20px;
            }
            .border-right-decor {
                border-right: none;
                border-bottom: 1px solid $light-grey;
            }
        }
        .check-card {
            &::before {
                top: -20px;
                left: calc(50% - 20px);
                width: 40px;
                height: 40px;
                background-image: url('../images/check-large.svg');
                background-size: contain;
            }
        }
        .steps {
            .middle-line-decor {
                &::before {
                    display: none;
                }
            }
            .decor-lines {
                &::before,
                &::after {
                    display: none;
                }
            }
            .step-container {
                padding-top: 0;
            }
            .step-img-style {
                width: 145px;
            }
        }
    }
    
    @media (max-width: 1200px) {
        .btn-primary {
            font-size: 16px!important;
            padding: 12px 20px;
        }
        .hero {
            background-color: $whitesmoke;
        }
        .pt-210px {
            padding-top: 126px;
        }
        .navbar {
            padding: 20px 0;
            .navbar-brand-img-partner {
                height: 20px;
            }
        }
        .popovers-container-static {
            display: none!important;
        }
    }
    
    @media (max-width: 1400px) {
        .hero {
            .hero-bg {
                max-width: 60vw;
            }
        }
        .steps {
            .decor-lines {
                &::before {
                    top: 90px;
                    right: 15px;
                }
                &::after {
                    top: 90px;
                    left: 15px;
                }
            }
        }
    }
    
    @media (min-width: 992px) and (max-width: 1400px) {
        .popovers-container-static {
            [data-popper-placement=left] {
                right: -40px!important;
                left: initial;
            }
            [data-popper-placement=right] {
                left: -110px;
            }
            .centered-popup {
                [data-popper-placement=top] {
                    top: -125px;
                }
            }
        }
    }
    
    @media (min-width: 1400px) and (max-width: 1900px) {
        .steps {
            .decor-lines {
                &::before {
                    content: "";
                    display: block;
                    height: 220px;
                    width: 0px;
                    border: none;
                    border-right: 2px dashed #DBDBDB;
                    position: absolute;
                    top: 60px;
                    transform: rotate( 40deg);
                    right: 35px;
                }
                &::after {
                    content: "";
                    display: block;
                    height: 220px;
                    width: 0px;
                    border: none;
                    border-right: 2px dashed #DBDBDB;
                    position: absolute;
                    top: 60px;
                    transform: rotate( -40deg);
                    left: 35px;
                }
            }
        }
    }
    
    @media (min-width: 1900px) {
        .container {
            max-width: 1662px;
        }
    }