@import "./bootstrap.min.css";
@import "fonts.css";
.font-family-second {
  font-family: "Merriweather";
}

h1 {
  font-weight: 700;
  font-size: 60px;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 45px;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.font-size-25px {
  font-size: 24px !important;
}

.font-size-24px {
  font-size: 24px !important;
}

.font-size-21px {
  font-size: 21px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.text-muted {
  color: #AFAFAF !important;
}

.text-secondary {
  color: #585858 !important;
}

.text-danger {
  color: #EF3030 !important;
}

.bg-light {
  background-color: #F4F7FD !important;
}

.border-end {
  border-right: 1px solid #000000 !important;
}

.border-1 {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05) !important;
}

.pt-76px {
  padding-top: 76px;
}

.pt-116px {
  padding-top: 116px;
}

.pt-210px {
  padding-top: 210px;
}

.pb-37px {
  padding-bottom: 37px;
}

.pb-60px {
  padding-bottom: 60px;
}

.pb-120px {
  padding-bottom: 120px;
}

.pb-235px {
  padding-bottom: 235px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-79px {
  margin-bottom: 79px;
}

body {
  font-family: "Roboto";
  background-color: #FCFCFC;
}

p {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.subtitle {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 20px;
  color: #878787;
}

.navbar {
  padding: 25px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04) !important;
}
.navbar .navbar-brand-img-partner {
  height: 30px;
}
.navbar .navbar-brand-img {
  height: 30px;
}

.img-top {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.avatar-style {
  width: 96px;
  height: 96px;
}

.btn-primary {
  font-weight: 400;
  font-size: 20px;
  padding: 17px 50px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #BF3EFE 0%, #1B9EFF 100%);
  border-radius: 30px;
  border: none;
}
.btn-primary:hover {
  background: linear-gradient(90deg, rgba(191, 62, 254, 0.7), rgba(27, 158, 255, 0.7));
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #AFAFAF;
  background-color: #FCFCFC;
  border: 1px solid #AFAFAF;
  background: transparent;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-link {
  font-weight: 400;
  font-size: 20px;
  color: #1B9EFF;
  text-decoration: none;
  padding: 0;
}

input {
  outline: none;
}

.hero {
  background-color: #F6F7FD;
}
.hero .hero-bg {
  position: absolute;
  object-fit: contain;
  object-position: bottom;
  max-width: 50vw;
  height: 100%;
  right: 0;
  bottom: 0;
}

.link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05) !important;
}
.card .card-body {
  padding: 42px 58px;
}
.card .card-body .price {
  font-weight: 700;
  font-size: 60px !important;
}
.card .card-body .list-group-item {
  font-size: 20px;
  border-color: #E7E7E7;
  padding: 18px 0;
}
.card .card-body .list-group-item:disabled, .card .card-body .list-group-item.disabled {
  color: #CECECE;
}

.border-right-decor {
  border-right: 1px solid #E7E7E7;
}

.circle-style {
  width: 112px;
  height: 112px;
  min-width: 112px;
  min-height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle-style::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
}
.circle-style.right-position::before {
  right: 0;
  left: auto;
}

.check-card {
  position: relative;
}
.check-card::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 94px;
  height: 94px;
  background-image: url("../images/check-large.svg");
  background-repeat: no-repeat;
}

.steps .step-text {
  font-weight: 700;
  font-size: 30px;
  background: -webkit-linear-gradient(#1B9EFF, #BF3EFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.steps .step-container {
  padding-top: 168px;
}
.steps .middle-line-decor {
  position: relative;
}
.steps .middle-line-decor::before {
  content: "";
  display: block;
  height: calc(100% - 94px);
  width: 0px;
  border: none;
  border-right: 2px dashed #DBDBDB;
  position: absolute;
  top: 42px;
  left: calc(50% - 1.5px);
}
@media (max-width: 1200px) {
  .steps .middle-line-decor::before {
    right: -50px;
  }
}
.steps .decor-lines {
  position: relative;
}
.steps .decor-lines::before {
  content: "";
  display: block;
  height: 220px;
  width: 0px;
  border: none;
  border-right: 2px dashed #DBDBDB;
  position: absolute;
  top: 60px;
  transform: rotate(40deg);
  right: 55px;
}
.steps .decor-lines::after {
  content: "";
  display: block;
  height: 220px;
  width: 0px;
  border: none;
  border-right: 2px dashed #DBDBDB;
  position: absolute;
  top: 60px;
  transform: rotate(-40deg);
  left: 55px;
}

.popovers-container-static {
  position: relative;
}
.popovers-container-static .popover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05) !important;
  border-radius: 6px;
  border: none;
  z-index: 0;
}
.popovers-container-static .popover .popover-arrow::before {
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}
.popovers-container-static .popover.with-mw .popover-body {
  max-width: 180px;
}
.popovers-container-static .popover-arrow {
  position: absolute;
  transform: translate3d(0px, 19px, 0px);
  top: 0px;
}
.popovers-container-static [data-popper-placement=left] {
  position: absolute;
  right: 0;
  left: initial;
}
.popovers-container-static [data-popper-placement=right] {
  position: absolute;
  left: -50px;
}
.popovers-container-static .centered-popup {
  position: absolute;
  left: 50%;
}
.popovers-container-static .centered-popup [data-popper-placement=top] {
  position: relative;
  top: -110px;
  left: initial;
  width: 100%;
  margin-left: -50%;
}
.popovers-container-static .centered-popup [data-popper-placement=top] .popover-arrow {
  position: absolute;
  left: calc( 50% - 8px);
  transform: none;
  top: initial;
}

@media (max-width: 992px) {
  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 25px !important;
  }

  h3 {
    font-size: 23px !important;
  }

  p {
    font-size: 16px !important;
  }

  .font-size-21px {
    font-size: 18px !important;
  }

  .pt-116px {
    padding-top: 60px;
  }

  .pb-60px {
    padding-bottom: 40px;
  }

  .pb-120px {
    padding-bottom: 50px;
  }

  .pb-235px {
    padding-bottom: 156px;
  }

  .mb-79px {
    margin-bottom: 30px;
  }

  .hero .quote-logo {
    width: 104px !important;
  }

  .avatar-style {
    width: 64px;
    height: 64px;
  }

  .card .card-body {
    padding: 30px 20px;
  }
  .card .border-right-decor {
    border-right: none;
    border-bottom: 1px solid #E7E7E7;
  }

  .check-card::before {
    top: -20px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-image: url("../images/check-large.svg");
    background-size: contain;
  }

  .steps .middle-line-decor::before {
    display: none;
  }
  .steps .decor-lines::before, .steps .decor-lines::after {
    display: none;
  }
  .steps .step-container {
    padding-top: 0;
  }
  .steps .step-img-style {
    width: 145px;
  }
}
@media (max-width: 1200px) {
  .btn-primary {
    font-size: 16px !important;
    padding: 12px 20px;
  }

  .hero {
    background-color: #FCFCFC;
  }

  .pt-210px {
    padding-top: 126px;
  }

  .navbar {
    padding: 20px 0;
  }
  .navbar .navbar-brand-img-partner {
    height: 20px;
  }

  .popovers-container-static {
    display: none !important;
  }
}
@media (max-width: 1400px) {
  .hero .hero-bg {
    max-width: 60vw;
  }

  .steps .decor-lines::before {
    top: 90px;
    right: 15px;
  }
  .steps .decor-lines::after {
    top: 90px;
    left: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .popovers-container-static [data-popper-placement=left] {
    right: -40px !important;
    left: initial;
  }
  .popovers-container-static [data-popper-placement=right] {
    left: -110px;
  }
  .popovers-container-static .centered-popup [data-popper-placement=top] {
    top: -125px;
  }
}
@media (min-width: 1400px) and (max-width: 1900px) {
  .steps .decor-lines::before {
    content: "";
    display: block;
    height: 220px;
    width: 0px;
    border: none;
    border-right: 2px dashed #DBDBDB;
    position: absolute;
    top: 60px;
    transform: rotate(40deg);
    right: 35px;
  }
  .steps .decor-lines::after {
    content: "";
    display: block;
    height: 220px;
    width: 0px;
    border: none;
    border-right: 2px dashed #DBDBDB;
    position: absolute;
    top: 60px;
    transform: rotate(-40deg);
    left: 35px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1662px;
  }
}

/*# sourceMappingURL=style.css.map */
